/**
 * Elementor editor styling
 */
.growgoal.elementor-nerd-box .elementor-nerd-box-title {
  margin-block-start: 24px;
}
.growgoal.elementor-nerd-box .elementor-nerd-box-message {
  margin-block-start: 12px;
}
.growgoal.elementor-nerd-box .elementor-nerd-box-link {
  margin-block-start: 24px;
}